@using personal_Blog.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Publication
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!--Custuom Styling-->
    <link rel="stylesheet" href="~/css/Addpost.css" asp-append-version="true" />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <title>AddPost</title>
</head>
<body>
    <header>
        <!-- la nav bar -->
        <nav class="navbar navbar-expand-lg my-navbar px-4">
            <!-- Logo ou nom à gauche -->
            <a class="navbar-brand" href="#"><span>Find </span>my Place</a>

            <!-- Bouton hamburger pour les petits écrans -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menus à droite -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i> Contact</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="contactDropdown">
                            <li><a class="dropdown-item " href="#">Dashboard</a></li>
                            <li><a class="dropdown-item text-danger" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- //Menus à droite -->
        </nav>
    </header>
    <!-- Bouton mobile toggle (sous la navbar) -->
    <button class="btn btn-primary w-100 d-md-none rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
        <i class="fas fa-bars"></i> Menu
    </button>


    <!-- Offcanvas pour mobile -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileSidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-unstyled">
                <li><a href="#" class="d-block mb-2">Manage Posts</a></li>
                <li><a href="#" class="d-block mb-2">Manage Topics</a></li>
            </ul>
        </div>
    </div>

    
</body>
</html>